* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}


/* 앱 리스트 썸네일 */
.applist-thumbnail {
    height: 320px;
    border-bottom: 5px solid black;
}

.applist-header {
    text-align: center;
    height: 500px;
    position: relative;
}

/* 카테고리 버튼 */
.categoryActive,
.categoryUnActive {
    width: 150px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    background-color: white;
    margin: 0px 20px;
    border-radius: 50px;
    border: 5px solid black;
    font-family: 'TheJamsil5Bold';
}

.categoryActive {
    background-color: black;
    color: white;
}

.categoryButton {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -65%);
}

/* 앱 리스트 */
.applist {
    width: 1590px;
    height: 100%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* background-color: skyblue; */
}

.applist-each {
    width: 450px;
    height: 420px;
    border: 4px solid black;
    /* background-color: black; */
    float: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 150px;
    border-radius: 20px;
    overflow:hidden;
}

.applist-image-box {
    width:100%;
    height:295px;
    margin:0 auto;
}

.applist-each-thumbnail{
    width:100%;
    height:100%;
    object-fit:cover;
}

.applist-description {
    height: 120px;
    background-color: white;
    border-top: 1px solid lightgray;
    font-family: 'TheJamsil5Bold';
    position: relative;
}
#applist-description-box {
    /* background-color: skyblue; */
    width:100%;
    padding: 5px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#applist-description-box::after {
    display: block;
    content: "";
    clear: both;
}
.applist-each-icon {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.5);
    
}

.applist-each-icon::after {
    clear: both;
    display: block;
    content: '';
}

.applist-description-text {
    text-align: left;
    float: left;
    height: 60px;
    width: 210px;
    padding: 5px 10px 5px 15px;
    
    
}

.applist-description-name {
    font-size: 25px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.applist-description-name ::after {
    display: block;
    content: '';
    clear: both;
}

.applist-description-detail {
    color: gray;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.star {
    float: right;
    color: #FFC700;
}

.star-logo {
    vertical-align: middle;
    margin-right: 5px;
}