* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

/* 배경 */
.main-back {
    height: 400px;
    background-color: lightgray;
    position: relative;
}

.main-1 {
    height: 80vh;
}

.main-2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* 추천 앱 슬라이더 */
.recommend-slider {
    font-family: 'TheJamsil5Bold';
    width: 60%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

/* 슬라이더 내부 박스 */
.recommend-slider slick-list{
    border: 3px solid black;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    vertical-align: middle;
}

.slider-content {
    width: 30%;
    float: left;
    background-color: black;
    color: white;
    height: 450px;
    padding: 60px 40px 60px 40px;
}

.slider-content img {
    width: 50px;
    height: 50px;
    float: left
}

.slider-content img::after {
    display: block;
    content: '';
    clear: both;
}

.slider-thumbnail {
    width: 70%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.slider-thumbnail img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.slider-imageName {
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    line-height: 80px;
    padding-left: 50px;
    text-align: left;
    margin-bottom: 200px;
    margin-left: 20px;
}

.slider-content hr {
    width: 100%;
    color: white;
    height: 3px;
    background-color: white;
}

.slider-detail {
    text-align: left;
    margin-top: 20px;
}

/* 메인 랭킹 */
.today-rank {
    font-family: 'TheJamsil5Bold';
    font-size: 22px;
    margin-bottom: 20px;
}

.main-2 hr {
    height: 5px;
    background-color: black;
    margin-bottom: 80px;
}

.rank-each {
    width: 430px;
    height: 400px;
    border: 3px solid black;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    position: relative;
    box-shadow: 5px 5px 3px #666;
    background-color: #666;
}

.rank-each:hover {
    background-color: #666;
}

.rank-each img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.rank-image-description {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    border-top: 3px solid black;
    padding: 20px;
    font-family: 'TheJamsil5Bold';
}

.rank {
    display: inline-block;    
    height: 450px;
}

.rank-box {
    text-align: center;
}

.rank-header {
    background-color: #A7A7A7;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0%;
    border-bottom: 3px solid black;
}

.rank-header-round-left {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: white;
    float: left;
    vertical-align: middle;
    margin-left: 30px;
    margin-top: 13px;
}

.rank-header-round-right {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: white;
    float: left;
    vertical-align: middle;
    margin-left: 290px;
    margin-top: 13px;
}

.rank-imagename {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    height: 35px;
}

.rank-devname {
    text-align: left;
    font-size: 18px;

}

.rank-description {
    text-align: left;
    margin-top: 20px;
}

