@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
* {box-sizing: border-box;}

.menu {
    background-color: rgba(0, 0, 0 );
    box-sizing: border-box;
    padding: 0px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    float: left;
    font-family: 'TheJamsil5Bold';
    z-index: 1;
    
}

#navi::after, menu::after {
    content: '';
    display: block;
    clear: both;
}

.menu .home {
    color: white;
    height: 60px;
    width: 150px;
    box-sizing: content-box;
    line-height: 60px;
    float: left;
    margin: 0px;
    font-weight: bold;
    padding-left: 30px;
}

.menu .link {
    color: white;
    box-sizing: content-box;
    float: left;
    margin: 0px;
}

.menu .link::after {
    content: '';
    display: block;
    clear: both;
}

.menu .link li {
    float: left;
    padding: 0px 10px;
    list-style: none;
}

/* 메인 네비 */
.main-navi {
    background-color: black;
    padding: 30px 150px;
    width: 100%;
    height: 25vh;
    /* line-height: 60px; */
    font-family: 'TheJamsil5Bold';
    color: white;
    text-align: center;
}

.main-home {
    color: white;
    height: 17vh;
    line-height: 17vh;
    width: 300px;
    box-sizing: content-box;
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 60px;
}

.loginButton {
    float: right;
    /* margin-right: 30px; */
}

.loginButton::after {
    display: block;
    clear: both;
    content: '';
}

.login-btn {
    background-color: black;
    border: none;
    color: white;
    width: 70px;
}

.main-link {
    padding: 5px 0px;
    display: inline-block;
}

.main-link li {
    width: 150px;
    margin: 0px 50px;
    float: left;
    text-align: center;
    font-size: 18px;
}