* {
    box-sizing: border-box;
}


.Stars svg {
 color: #878787;
 cursor: pointer;
}

.Stars:hover svg {
    color: #fcc419;
   }

.Stars svg:hover ~ svg {
    color: #878787;
   }

.Stars .Pick {
    color: #fcc419;
}
