* {
    box-sizing: border-box;
}

.highcharts-yaxis-grid,
.highcharts-xaxis {
    display: none;
}

.chart-body {
    border: 1px solid black;
    
}

.subtitle {
    width: 238px;
}

.subtitle ul {
    padding-left: 45px;
    
}

.subtitle ul li {
    float: left;
    list-style: none;
    width: calc(180px/5);
    text-align: center;
    font-size:10px;
}

.subtitle::after {
    display: block;
    content: '';
    clear: both;
}

.highcharts-yaxis-labels,
.highcharts-no-tooltip {
    display: none;
}

.highcharts-point {
    width: 20px;
}

.highcharts-xaxis-labels {
    font-size: 12px;
}